<ion-header>
  <ion-toolbar>
    <ion-title>
      Visitas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Nombre del Visitante:</ion-label>
      <ion-input></ion-input>
    </ion-item>


    
      
      <ion-item>
        <ion-label>Fecha de Visita:</ion-label>
        <ion-datetime displayFormat="MM DD YY" placeholder="MM DD YY"></ion-datetime>
      </ion-item>

    
      <ion-item>
        <ion-label>Hora de Llegada:</ion-label>
        <ion-datetime displayFormat="h:mm A" minuteValues="5,10,15,20,25,30,35,45,50,55"></ion-datetime>
      </ion-item>

    <div style="height: 300px;"></div>
    <ion-button expand="full">Guardar</ion-button>
  </div>
</ion-content>